<h1>
  Assignments
  <%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-primary float-right' %>
</h1>
<hr>

<div class="row row-cols-1 row-cols-md-3">
  <% @assignments.each do |assignment| %>
    <%= render 'card', assignment: assignment %>
  <% end %>
</div>
