<div class="jumbotron">
  <h1 class="display-4">Bulk Dates Assignments</h1>
  <p class="lead">This is a simple web unit, basically to create a form where an user can create Schedules into a dates range.</p>
  <hr class="my-4">
  <p>This is a test for Innovencer.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Go to Assignments</a>
</div>
